body{
    background: coral;
    min-height: 100vh;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas: 
    'header header'
    'main aside'
    'footer footer'
    ;
}

header, main, aside, footer {
    background: #ffffff;
}

header{grid-area: header;}
main{grid-area: main;}
aside{grid-area: aside;}
footer{grid-area: footer;}

@media (min-width: 40em) {
    body {
        grid-template-columns: 12em 1fr;
    }
}